{{ define "main" }}
<!-- Banner -->
{{ with .Params.banner }}
<section class="section pt-0">
  <div class="w-screen mt-4">
    {{ with .image }}
    {{ with resources.Get . }}
    <div class="pt-48 bg-cover bg-mask-grey bg-blend-overlay bg-center h-[32rem] bg-[url('{{ .RelPermalink }}')]">
      {{ end }}
      {{ end }}
      <div class="container">
        <h1 class="text-white">
          {{.image_title | markdownify}}
        </h1>
        <p class="pt-8 text-white tracking-widest ">
          {{.image_detail | markdownify}}
        </p>

      </div>
    </div>



  </div>
  <div class="container">
    <div class="row justify-center">
      <div class="flex">
        <div class="basis-5/6">
          <div class="lg:col-7 prose-a:text-purple-600">
            <h2 class="mb-4 mt-8 tracking-wide font-sans text-purple-600 ">
              {{ .name | markdownify }}
            </h2>
            <p class="mb-8 text-2xl">
              {{ .position | markdownify }}
            </p>
            <p class="mb-8 text-2xl hover:prose-a:underline">
              {{ .institution | markdownify }}
            </p>
            <p class="mb-8 text-2xl">
              <i class="fa-solid fa-envelope"></i>  {{ .email | markdownify }}
            </p>
            <p class="mb-8 text-2xl">
              <i class="fa-solid fa-location-pin"></i> {{ .addr | markdownify }}
            </p>
            <p class="mb-8 text-2xl hover:prose-a:underline">
              [{{ .google | markdownify }}] [{{ .dblp | markdownify }}] [{{ .scholarmate | markdownify }}]
            </p>
          </div>
        </div>
        <div class="basis-1/6 -mt-16">
          {{ partial "image" (dict "Src" .avatar "Alt" "Avatar image" "Loading" "eager" "Class" "" ) }}
        </div>
      </div>


    </div>
  </div>
  </div>
</section>
{{ end }}
<!-- /Banner -->

<!-- News -->
<section id="news" class="section-sm bg-gradient">
  <div class="container">
    <h3 class="text-purple-600 mb-8"><i class="fa-solid fa-rss text-purple-600"></i> NEWS</h3>
    <ol class="list-disc">

      {{ range $i, $e := .Params.news}}
      <li>
        <div class=" row items-center justify-between">
          {{ partial "news" (dict "date" .date "content" .content ) }}
        </div>
      </li>
      {{ end }}

    </ol>
  </div>
</section>
<!-- /News -->

<!-- Bio -->
<section id="biography" class="section-sm bg-gradient">
  <div class="container">
    <h3 class="text-purple-600 mb-8"><i class="fa-solid fa-user text-purple-600"></i> BIOGRAPHY</h3>
    <div class="prose-xl">
      {{ .Params.biography | markdownify }}
    </div>
</section>
<!-- /Bio -->

{{ with site.GetPage "sections/publications" }}

<section id="publications" class="section-sm bg-gradient">
  <div class="container">
    <div class="row">
      <h3 class="text-purple-600 mb-8"><i class="fa-solid fa-newspaper text-purple-600"></i> {{ .Title | markdownify }}</h3>

    </div>
    <div class="row">
      <p>
        {{ .Params.description }}
      </p>
    </div>


    <ol class="list-decimal">
      {{ range $i, $e := .Params.publications }}
      <li> {{ partial "publications" (dict "order" $i "item" .) }} </li>
      {{ end }}
    </ol>
  </div>

</section>

{{ end }}

<!-- Talks -->
<section id="talks" class="section-sm bg-gradient">
  <div class="container">
    <h3 class="text-purple-600 mb-8"><i class="fa-solid fa-microphone-lines text-purple-600"></i> TALKS</h3>
    <ol class="list-disc">

      {{ range $i, $e := .Params.talks}}
      <li>
        <div class=" row items-center justify-between">
          {{ partial "talks" . }}
        </div>
      </li>
      {{ end }}

    </ol>
  </div>
</section>
<!-- /Talks -->

<!-- Misc -->
<section id="misc" class="section-sm bg-gradient">
  <div class="container">
    <h3 class="text-purple-600 mb-8"><i class="fa-solid fa-bars text-purple-600"></i> MISC.</h3>
    <ol class="list-disc">

      {{ range $i, $e := .Params.misc}}
      <li>
        <div class=" row items-center justify-between">
          {{ partial "misc" . }}
        </div>
      </li>
      {{ end }}

    </ol>
  </div>
</section>
<!-- /Misc -->

{{ end }}